<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CityList</key>
	<array>
		<dict>
			<key>cityName</key>
			<string>中国</string>
			<key>cityCode</key>
			<string>z</string>
            <key>areaCode</key>
            <string>+86</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>新加坡</string>
			<key>cityCode</key>
			<string>x</string>
            <key>areaCode</key>
            <string>+861</string>
		</dict>
        <dict>
            <key>cityName</key>
            <string>印度尼西亚</string>
            <key>cityCode</key>
            <string>y</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>泰国</string>
            <key>cityCode</key>
            <string>t</string>
            <key>areaCode</key>
            <string>+862</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>缅甸</string>
            <key>cityCode</key>
            <string>m</string>
            <key>areaCode</key>
            <string>+863</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>老挝</string>
            <key>cityCode</key>
            <string>l</string>
            <key>areaCode</key>
            <string>+864</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>马来西亚</string>
            <key>cityCode</key>
            <string>m</string>
            <key>areaCode</key>
            <string>+865</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>越南</string>
            <key>cityCode</key>
            <string>y</string>
            <key>areaCode</key>
            <string>+867</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>新西兰</string>
            <key>cityCode</key>
            <string>x</string>
            <key>areaCode</key>
            <string>+868</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>俄罗斯</string>
            <key>cityCode</key>
            <string>e</string>
            <key>areaCode</key>
            <string>+869</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>乌克兰</string>
            <key>cityCode</key>
            <string>w</string>
            <key>areaCode</key>
            <string>+870</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>捷克</string>
            <key>cityCode</key>
            <string>j</string>
            <key>areaCode</key>
            <string>+871</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>芬兰</string>
            <key>cityCode</key>
            <string>f</string>
            <key>areaCode</key>
            <string>+872</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>澳大利亚</string>
            <key>cityCode</key>
            <string>a</string>
            <key>areaCode</key>
            <string>+873</string>
        </dict>
        <dict>
            <key>cityName</key>
            <string>刚果</string>
            <key>cityCode</key>
            <string>g</string>
            <key>areaCode</key>
            <string>+874</string>
        </dict>
	</array>
</dict>
</plist>
