<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yuudee2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E35F1E0D212E8BC8004D4706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35F1E25212E8BCA004D4706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E35F1E30212E8BCA004D4706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
